/* ----------
- Variables - 
---------- */

:root {
    --hue: 255;

    --col1-90-g: hsl(255, 50%, 90%);

    --col1-10: hsl(255, 50%, 10%);
    --col1-20: hsl(255, 50%, 20%);
    --col1-30: hsl(255, 50%, 30%);
    --col1-35: hsl(255, 50%, 35%);
    --col1-40: hsl(255, 50%, 40%);
    --col1-50: hsl(255, 50%, 50%);
    --col1-60: hsl(255, 50%, 60%);
    --col1-65: hsl(255, 50%, 65%);
    --col1-70: hsl(255, 50%, 70%);
    --col1-75: hsl(255, 50%, 75%);
    --col1-80: hsl(255, 50%, 80%);
    --col1-90: hsl(255, 50%, 90%);
    --col1-95: hsl(255, 50%, 95%);

    --test: rgb(221, 213, 246);
}

/* --------
- General - 
-------- */

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
    text-align: center;
}

h3 {
    font-size: 16pt;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* General classes */

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex100>* {
    width: 100%;
}

.flex50>* {
    width: 50%;
}

.m0 {
    margin: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mb05 {
    margin-bottom: 0.5rem;
}

.m05 {
    margin: 0.5rem 0;
}

.large {
    font-size: 16pt;
}

.text {
    max-width: 70ch;
}

.light,
.light>* {
    color: white;
}

.dark,
.dark>* {
    color: var(--col1-30);
}

.dark-gradient {
    background-color: var(--col1-40);
    background: linear-gradient(135deg, var(--col1-20), var(--col1-40), var(--col1-80));
}

.title {
    text-align: center;
}

/* ---------
- Contents -
 --------- */

.contents {
    width: 100%;
    max-width: 62.5rem;

    padding: 0 2rem;

    box-sizing: border-box;

    margin: 0 auto;
}

/* lists */

.contents-list {
    margin: 0;
    margin-left: -1rem;
    list-style-type: square;
}

.contents-list>li::marker {
    color: var(--col1-20);
    font-size: 16pt;
    text-align: center;
}

/* banner */

.picture-banner {
    width: 100%;
    height: 15vh;
    background-image: url("src/img/banner/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 19%;
    overflow: hidden;
}

/* Section description */

.section-description {
    margin: 0 auto;
    max-width: 70ch;
}

.section-description>p {
    padding-bottom: 1.5rem;
}

.section-description>hr {
    width: 50%;
    border-width: 1px;
    color: var(--col1-30);
}

/* -----
- Home - 
----- */

.media-logo-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 1rem;
}

.media-logo img {
    width: 100%;
    height: 100%;
}

.media-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    text-align: center;

    margin: 1rem;

    cursor: pointer;

    transition: transform 200ms ease-in-out;
}

.media-logo:hover {
    transform: scale(1.5);
}

/* ----------------------
- Academia and Research -
---------------------- */

#academia-research {
    padding: 0.5rem 0 1rem;
}

.academia-headers {
    padding: 0.5rem;
    text-align: center;
    margin-top: 3rem;
}

/* Academia and Education */

.white-card {
    background-color: white;

    border: 2px solid var(--col1-20);
    border-radius: 1rem;

    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-head {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.profile-subtitle {
    font-size: 14pt;
}

.uni-logo {
    margin-right: 1rem;
    padding: 1rem;

    min-width: 70px;
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: white;

    background-color: var(--col1-10);
    border-radius: 0.5rem;

    cursor: default;
}

/* Research Skills */

.academia-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 0;
}

.academia-skill {
    width: 200px;
    min-width: 185px;
    text-align: center;

    padding: 0.5rem;
}

.skills-title {
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid white;
}

/* Research Projects */

.accordion-title {
    font-size: 14pt;

    color: white;
    background-color: var(--col1-40);
    background: linear-gradient(135deg, var(--col1-10), var(--col1-20), var(--col1-40), var(--col1-75));
    border: 1px solid white;

    display: flex;
    justify-content: space-between;

    cursor: pointer;

    opacity: 0.90;
    transition: opacity 200ms ease-in-out;
}

.accordion-title:hover {
    opacity: 1;
}

.accordion-title>* {
    padding: 0.5rem 1rem;

    color: white;
}

.accordion-description {
    display: none;

    text-align: center;

    padding: 0.5rem;

    border-left: 1px solid white;
    border-right: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-description>* {
    font-size: 13pt;
    width: 80%;
}

.accordion-link {
    text-decoration: none;

    color: white;
    background-color: var(--col1-40);
    background: linear-gradient(135deg, var(--col1-10), var(--col1-20), var(--col1-40), var(--col1-75));

    text-align: center;

    min-width: 80px;

    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.5rem 1rem;

    border-radius: 1rem;

    opacity: 0.80;
    transition: opacity 200ms ease-in-out;
}

.accordion-link:hover {
    opacity: 1;
}

/* ----------------
- Web Programming -
---------------- */

.web-holder {
    width: 100%;
    margin: 5.5rem 0;
    cursor: default;
}

.web-title {
    font-weight: 600;
    width: 100%;
    text-align: center;

    margin-bottom: 0.5rem;
}

.web-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 0.5rem;
}

.web-tags>span {
    font-weight: 600;
    color: var(--col1-75);
    padding: 0.25rem;
}

.web-description {
    display: flex;
    justify-content: center;
}

.web-description>p {
    width: 100%;
    max-width: 70ch;
}

.web-link {
    text-decoration: none;

    background-color: var(--col1-95);

    color: white;
    background-color: var(--col1-40);
    background: linear-gradient(135deg, var(--col1-10), var(--col1-20), var(--col1-40), var(--col1-75));

    text-align: center;

    min-width: 80px;

    margin: 0.5rem;
    padding: 0.5rem;

    border-radius: 1rem;

    opacity: 0.80;
    transition: opacity 200ms ease-in-out;
}

.web-link:hover {
    opacity: 1;
}

.web-image {
    text-align: center;
    box-sizing: border-box;
    margin-top: 1rem;
}

.web-image>img {
    max-width: 100%;
    height: 100%;
    max-height: 500px;
    width: auto;
    height: auto;

    box-shadow: 0 0.125rem 0.25rem 0.10rem rgba(0, 0, 0, 0.20);
    border-radius: 0.25rem;
}

/* --------
- Writing - 
-------- */

.tru-article-holder {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.tru-article {
    width: 250px;
    margin: 1rem;

    box-shadow: 0 0.125rem 0.25rem 0.10rem rgba(0, 0, 0, 0.20);
    border-radius: 0.25rem;
}

.tru-article>img {
    width: 100%;
    height: 175px;

    border-radius: 0.25rem 0.25rem 0 0;
}

.tru-article>p {
    padding: 1rem;
    font-weight: 700;
}

/* --------
- Nav Bar - 
-------- */

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;

    z-index: 999;
}

header>* {
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: 1rem 3rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
}

nav h1 {
    margin: 0;
    cursor: default;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
}

nav li {
    display: flex;
    align-items: center;

    min-height: 48px;

    margin: 0 0 0 1.5rem;
    padding: 0;

    font-weight: 600;
}

nav a {
    text-decoration: none;
    font-size: 13pt;
}

#nav-check {
    display: none;
}

nav label {
    display: none;
}

nav a:hover {
    color: var(--col1-50);
}

.selected-tab {
    color: var(--col1-50);
}

/* --------------
- Media Queries - 
--------------- */

@media screen and (max-width: 780px) {

    /* contents */

    .contents {
        padding: 0;
        max-width: 85%;
    }

    /* nav */

    nav {
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;

        max-height: 0;
        transform: scale(1, 1);
        transition: transform 400ms ease-in-out;
        transition: max-height 200ms ease-in-out;
        transform-origin: top;
    }

    nav li {
        min-height: 0;
    }


    ul a {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    nav label {
        display: inline;
        cursor: pointer;

        display: flex;
        align-items: center;

        font-size: 24pt;
    }

    #nav-check:checked~ul {
        max-height: 500px;
        transform: scale(1, 1);
    }

    #nav-check:checked~ul li {
        margin: 5px 0 0 0;
    }

    #nav-check:checked~ul a {
        opacity: 1;
        transition: opacity 200ms ease-in-out 200ms;
    }

}